.delete-user{
    margin: 30px auto;
    max-width: 600px;
    border: 4px solid #393e46;
    border-radius: 30px/20px;
    padding: 25px 80px;
}

.delete-user button{
    font-size: 1.3rem;
    font-family: 'Goldman', cursive;
    word-spacing: 4px;
}