.settings{
    position: relative;
    height: 92vh;
    font-family: 'Sansita Swashed', cursive;
    overflow: auto;
}

.settings header{
    max-width: 600px;
}

.settings h1{
    font-size: 43px;
    text-decoration: underline;
}

.settings main {
    margin: auto;
    width: 95%;
}

.settings .theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.settings .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
  
.settings .theme-switch input {
    display:none;
}
  
.settings .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.settings .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}
  
.settings input:checked + .slider {
    background-color: #66bb6a;
}
  
.settings input:checked + .slider:before {
    transform: translateX(26px);
}
  
.settings .slider.round {
    border-radius: 34px;
}

.settings .slider.round:before {
    border-radius: 50%;
}  