.settings{
    position: relative;
    height: 92vh;
    font-family: 'Nunito Sans';   
    overflow: auto;
}

.settings header{
    max-width: 600px;
}

.settings h1{
    font-size: 43px;
    font-family: 'Sansita Swashed', cursive;
    text-decoration: underline;
}