.messageCenter{
    height: 100vh;
    background-color: #a3ddcb;
    padding: 3%;
    text-align: center;
    overflow: auto;
    position: relative;
}

.messageCenter h1 {
    font-size: 60px;
}

.messageCenter .userBoard{
    border: 2px solid #222831;
    border-radius: 30px;
    margin: 2rem auto;
    width: 44%;
}
.messageCenter .userBoard:hover{
    background-color: #3282b8;
}

.messageCenter .userBoard i {
    font-size: 77px;
    margin: 0.5rem auto;
}

.messageCenter .messageBoard{
    width: 70%;
    height: 60%;
    margin: 10px auto 4%;
    background-color: antiquewhite;
    border: 2px solid black;
    position: relative;
}

.messageCenter .messageBoard .oldConvos{
    position: absolute;
    left: 0px;
    border-right: 2px solid #222831;
}
.messageCenter .messageBoard .activeConvo{
    position: absolute;
    right: 0px;
}