.send-message{
    display: grid;
    grid-template-columns: 50px auto;
    padding: 20px;
}

.send-message input{
    margin-left: 30px;
    padding: 6px;
}

.send-message button{
    border-radius: 50%;
    cursor: pointer;   
}

.send-message button:focus{
    outline: none;
    box-shadow: none;
}

.send-message label{
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}