.side-bar{
    overflow: auto;
    background-color: #4e3a4c;
    font-family: 'Arial';
    border: 1px solid black;
    cursor: pointer;
}

.side-bar h2{
    font-family: 'Nunito Sans';
}

.side-bar .msg-card{
    display: grid;
    grid-template-columns: 6rem auto;
}

.sidebar .msg-card:hover{
    background: #3e313c;
}

.side-bar .msg-card.active{
    background: #3e313c;
}

.side-bar span{
    font-size: 1.2rem;
}

.side-bar img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}