
.home div[class*=box] {
  margin: 100px auto;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .btn {
  line-height: 50px;
  height: 75px;
  text-align: center;
  width: 350px;
  cursor: pointer;
}
.home{
    height: 92vh;
    background-size: 100% 100%;
    font-family: 'Goldman', cursive;
    overflow-y: auto;
    overflow-x: hidden;
}

.home.light{
  background-image: url('../../../images/lighthome.jpg');
} .home.dark{
  background-image: url('../../../images/darkhome.png');
}

.home h1 {
  color: #e20e60;
  position: relative;
  top: 20px;
  left: 30px;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 900;
  font-size: 40px;
}

.home h2{
  color: #f54291;
  position: relative;
  top: 40px;
  left: 30px;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 900;
  font-size: 36px;
}

.home h3{
  color: #e6739f;
  position: relative;
  top: 60px;
  left: 30px;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 900;
  font-size: 32px;
}

.home p{
  position: relative;
  padding-right: 10%;
  top: 20%;
  left: 70%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #000000;
}

.btn-two {
    color: black;
    transition: all 0.5s;
    position: relative;
    top: 67%; 
    font-weight: 1000;
    font-size: 30px;
  }
  .btn-two span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
  }
  .btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(231, 198, 52, 0.2);
    background-color: rgba(231, 198, 52, 0.2);
  }
  .btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(231, 198, 52, 0.2);
    background-color: rgba(231, 198, 52, 0.2);
  }
  .btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(231, 198, 52, 0.2);
  }
  .btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(231, 198, 52, 0.2);
  }

  .hexagon-wrapper {
  margin: auto;
  display: flex;
  text-align: initial;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.hexagon {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, white, #fda3b2);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.5s;
}

.hexagon i {
  z-index: 1;
  margin: auto;
  font-size: 30px;
  font-family: 'Goldman', cursive;
  color: transparent;
  background: linear-gradient(45deg, #866cd1, #e98994);
  background-clip: text;
  -webkit-background-clip: text;
}

.hexagon:before,
.hexagon:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.5s;
  transform-origin: center;
}
.hexagon:before {
  transform: rotateZ(60deg);
}
.hexagon:after {
  transform: rotateZ(-60deg);
}
.hexagon:hover {
  border-radius: 50px;
  transition: 0.5s;
}
.hexagon:hover:before {
  border-radius: 50px;
  transition: 0.5s;
}
.hexagon:hover:after {
  border-radius: 50px;
  transition: 0.5s;
}

@media screen and (max-width: 1200px){
  .home h1 {
    font-size: 36px;
  }
  .home h2{
    font-size: 32px;
  }
  .home h3{
    font-size: 28px;
  }
  .home p{
    font-size: 17px;
  }
}
@media screen and (max-width: 1000px){
  .home h1 {
    font-size: 32px;
  }
  .home h2{
    font-size: 28px;
  }
  .home h3{
    font-size: 24px;
  }
  .home p{
    font-size: 14px;
  }
}
@media screen and (max-width: 800px){
  .home h1 {
    font-size: 28px;
  }
  .home h2{
    font-size: 24px;
  }
  .home h3{
    font-size: 20px;
  }
  .home p{
    position: relative;
    top: 37%;
    left: 49%;
    font-size: 11px;
  }
}
@media screen and (max-width: 600px){
  .home h1 {
    font-size: 24px;
  }
  .home h2{
    font-size: 20px;
  }
  .home h3{
    font-size: 16px;
  }
  .home p{
    position: relative;
    top: 40%;
    left: 54%;
    font-size: 11px;
  }
}