@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Goldman', cursive;
}

div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  line-height: 50px;
  height: 75px;
  text-align: center;
  width: 350px;
  cursor: pointer;
}
.home{
    height: 92vh;
    position: relative;
    background-image: url('../../../images/tiger.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.home h1 {
  color: #900c3f;
  position: relative;
  top: 100px;
  left: 30px;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 900;
  font-size: 44px;
}

.home h2{
  color: #f54291;
  position: relative;
  top: 130px;
  left: 30px;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 900;
  font-size: 40px;
}

.home h3{
  color: #e6739f;
  position: relative;
  top: 160px;
  left: 30px;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 900;
  font-size: 36px;
}

.home p{
  position: relative;
  top: 70%;
  left: 70%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #000000;
}

.btn-two {
    color: #f54291;
    transition: all 0.5s;
    position: relative;
    top: 67%; 
    font-weight: 1000;
    font-size: 30px;
  }
  .btn-two span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
  }
  .btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(231, 198, 52, 0.2);
    background-color: rgba(231, 198, 52, 0.2);
  }
  .btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(231, 198, 52, 0.2);
    background-color: rgba(231, 198, 52, 0.2);
  }
  .btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(231, 198, 52, 0.2);
  }
  .btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(231, 198, 52, 0.2);
  }

@media screen and (max-width: 900px){
  .home h1 {
    font-size: 34px;
  }
  .home h2 {
    font-size: 30px;
  }
  .home h3 {
    font-size: 26px;
  }
  .home p {
    font-size: 10px;
  }
}
