.dead-page {
    height: 92vh;
    position: relative;
    color: #0fe9ba;
    background-color: #34626c;
    font-family: 'Chakra Petch', sans-serif;
    width: 100%;
}

.dead-page h1 {
    font-size: 80px;
}

.dead-page p {
    margin-top: 35px;
    font-size: 30px;
}

.dead-page i {
    font-size: 100px;
}    

.dead-page ul {
    margin-top: 80px;
    font-size: 20px;
}

.dead-page li{ 
    margin-right: 10px;
    display: inline-block;
    color: #0fe9ba;
}

.dead-page li:hover{
    text-decoration: underline;
}