.navbar { 
    font-family: 'Chakra Petch', sans-serif;
    background: #5f5f9b;
    min-height: 8vh;
}

.navbar-brand{
    font-size: 1.6rem;
}

.navbar ul{
    margin-left: auto;
}

.navbar li{
    border-bottom: solid silver 1px;
    padding: 10px;
}

.navbar li:last-child{
    border: none;
}

.nav-link{
    font-size: 1.2rem;
}

.navbar button:focus{
    outline: none;
    box-shadow: none;
}

@media screen and (min-width: 991px){
    .navbar ul, .navbar li {
        border-bottom: none;
        padding: 0;
    }
}