.navbar { 
    min-height: 8vh;
    font-family: 'Chakra Petch', sans-serif;
    background: #5f5f9b;
    z-index: 1;
}

.navbar-brand{
    font-size: 1.6rem;
}

.navbar button:focus{
    outline: none;
    box-shadow: none;
}