.navbar { 
    font-family: 'Chakra Petch', sans-serif;
    background: #5f5f9b;
    min-height: 8vh;
}

.navbar-brand{
    font-size: 1.6rem;
}

.navbar ul{
    margin-left: auto;
}

.navbar li{
    border-bottom: solid silver 1px;
    padding: 10px;
}

.navbar li:last-child{
    border: none;
}

.navbar .nav-link{
    font-size: 1.2rem;
}

.navbar button:focus{
    outline: none;
    box-shadow: none;
}

.navbar .dropdown-content{
    display: none;
    position: absolute;
    right: 5px;
    top: 8vh;
    background: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    z-index: 1;
}

.navbar .expand{
    cursor: pointer;
}

.navbar .expand:hover .dropdown-content{
    display: block;
}

.navbar .option{
    position: relative;
    padding: 10px 20px;
}

.navbar .option span,
.navbar .option i {
    font-size: 1.3rem;
    color: black;
}

@media screen and (min-width: 991px){
    .navbar ul, .navbar li {
        border-bottom: none;
        padding: 0;
    }

    .navbar .option span{
        display: inline-block;
    }

    .navbar span{
        display: none;
    }

    .navbar i{
        font-size: 1.4rem;
    }
}