.search-bar{
    max-width: 600px;
    margin: 20px auto;
    font-family: 'Nunito Sans';
}

.search-bar input{
    width: 100%;
}

@media screen and (min-width: 991px){
    .search-bar{
        position: relative;
        left: 7px;
        width: 40%;
        margin: 0;
    }
}