.signed-in.navbar-nav li{
    border-bottom: solid silver 1px;
    padding: 10px;
}

.signed-in.navbar-nav li:last-child{
    border: none;
}

.signed-in.navbar-nav .nav-link{
    font-size: 1.2rem;
}

/* dropdown content */
.signed-in.navbar-nav .dropdown-links{
    display: none;
}

.signed-in.navbar-nav .dropdown-content{
    position: absolute;
    right: 5px;
    top: 8vh;
    background: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    z-index: 1;
}

.signed-in.navbar-nav #expand{
    cursor: pointer;
}

.signed-in.navbar-nav .option{
    position: relative;
    padding: 10px 20px;
}

.signed-in.navbar-nav .option:hover{
    background: lightblue;
}

.signed-in.navbar-nav .option span,
.signed-in.navbar-nav .option i {
    font-size: 1.3rem;
    color: black;
}

/* .signed-in.navbar-nav .count-box{
    font-family: 'Arial';
    background: orangered;
    color: white;
} */

@media screen and (min-width: 991px){
    .signed-in.navbar-nav li {
        border-bottom: none;
        padding: 0;
    }

    .signed-in.navbar-nav i{
        font-size: 1.4rem;
    }

    /* show label for dropdown but not otherwise */
    .signed-in.navbar-nav .option span{
        display: inline-block;
    } .signed-in.navbar-nav span{
        display: none;
    }

    /* hide expanded links/ show dropdown links */
    .signed-in.navbar-nav .dropdown-links{
        display: block;
    } .signed-in.navbar-nav .expanded-links{
        display: none;
    }
}