.toast{
    font-family: 'Nunito Sans';
    cursor: pointer;
}

.Toastify__toast-container button:focus{
    outline: none;
    box-shadow: none;
}

.toast img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.toast span{
    overflow-wrap: break-word;
    white-space: pre-wrap;
}