.create-product {
    position: relative;
    height: 92vh;
    background-color: #9ad3bc;
    overflow: hidden;
}

.create-product form{
  max-width: 400px;
  margin: 30px auto;
}

.create-product select{
  min-width: 200px;
  margin-bottom: 20px;
}

.create-product input{
  width: 100%;
  margin-bottom: 20px;
  display: block;
}