.product{
    max-width: fit-content;
    margin: 10px;
}

.product img{ 
    width: 10rem;
    height: 10rem;
}

.product h5{
    cursor: pointer;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.product h5:hover{
    text-decoration: underline;
}