.product{
    color: black;
    font-family: 'Nunito Sans';
    max-height: 300px;
    max-width: fit-content;
    margin: 20px;
}

.product img{ 
    width: 10rem;
    height: 10rem;
}

.product h5{
    cursor: pointer;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    text-decoration: underline;
}

.product .card-footer{
    padding: 2px;
}

.product .card-footer i{
    color: red;
    position: relative;
    top: 5px;
}