.product{
    max-height: 300px;
    max-width: fit-content;
    margin: 20px;
}

.product img{ 
    max-width: 10rem;
    max-height: 10rem;
}

.product h5{
    cursor: pointer;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.product h5:hover{
    text-decoration: underline;
}