.reviews{
    max-width: 800px;
    margin: auto;
}

.review{
    display: grid;
    grid-template-columns: 200px auto;
    background: white;
    margin-bottom: 50px;
    padding: 30px;
}

.review img{
    width: 8rem;
    height: 8rem;
}

.review p{
    font-size: 1.3rem;
}

.review main{
    font-size: 2rem;
}

.review .rating{
    color: #5f5f9b;
    font-size: 40px;
    
}
.review .fa-thumbs-up:hover{
    color: green;
}
.review .fa-thumbs-down:hover{
    color: red;
}