.cart{
    height: 92vh;
    font-family: 'Nunito Sans';
    position: relative;
    overflow: auto;
}

.cart .cart-product{
    display: inline-block;
    width: fit-content;
}

.cart .items{
    min-height: 300px;
    max-width: 90%;
    border: solid #393e46 8px;
    border-radius: 11px;
    margin: 50px auto;
}