.history header{
    font-family: 'Nunito Sans';
}

.history header p{
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.history header p:hover{
    text-decoration: underline;
}

.history .items{
    min-height: 300px;
    max-width: 90%;
    border: solid #393e46 8px;
    border-radius: 11px;
    margin: 40px auto;
}

.history-item{
    display: inline-block;
    text-align: center;
}