.profile {
    height: 92vh; 
    background-color: #89beb3;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.profile header{
    background: #8ec6c5;
}

.profile header img {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 11px;
    margin: 1rem auto;
    display: block;
}

.profile header h3{
    color: black;
    border: 4px solid #5f5f9b;
    border-radius: 30px;
    display: inline-block;
    margin: 0 auto;
    padding: 4px 14px;
    font-size: 21px;
    font-family: 'Sansita Swashed', cursive;
}

.profile header button{
    margin: 15px 5px;
    font-family: 'Nunito Sans';
    cursor: pointer;
}

.profile header label{
    cursor: pointer;
    position: relative;
    top: 2px;
}

.profile header button:focus{
    outline: none;
    box-shadow: none;
}

.profile .stats {
    margin: 4rem 2rem;
    border: 6px solid #393e46;
    border-radius: 30px/20px;
    font-family: 'Balsamiq Sans', cursive;
}

.profile .stats h2 {
    border: 4px solid #965d62;
    border-radius: 30px;
    display: inline-block;
    margin: 20px auto;
    padding: 4px 14px;
    font-size: 21px;
    font-family: 'Sansita Swashed', cursive;
}

@media screen and (max-width: 670px) {
    .profile .stats {
        font-size: smaller;
    }

    .profile .stats h2 {
        font-size: 15px;
    }
}

@media screen and (max-width: 992px){
    .profile .user-products{
        justify-content: center;
    }
}