.admin{
    height: 92vh;
    position: relative;
    overflow: auto;
}

.admin h1{
    text-align: center;
    color: #2a363b;
    margin: 40px;
    font-weight: 900;
    font-family: 'Sansita Swashed', cursive;
    font-size: 49px;
}

.admin hr{
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px #69779b;
}
.admin hr:after{
    content: "\00a0";
}