.admin{
    height: 92vh;
    position: relative;
    overflow: auto;
}

.admin h1{
    text-align: center;
    margin: 40px;
    font-weight: 900;
    font-family: 'Sansita Swashed', cursive;
    font-size: 49px;
}

.admin hr{
    max-width: 40%;
    border: 1px solid gray;
}