.departments { 
    display: flex;
    flex-wrap: wrap;
}

.departments .dept {
    margin-left: 10px;
    background-color: white;
    color: black;
    max-width: fit-content;
    margin: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 40px;
}

.departments i{
    cursor: pointer;
    font-size: 1.3rem;
    color: orange;
    position: relative;
    top: 2px;
}

.departments i:hover{
    color: red;
}