.edit-modal{
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Nunito Sans';
}

.edit-modal .modal-content{
    padding: 0;
    border: 0;
}

.edit-modal #close-edit{
    display: none;
}

.edit-modal .modal-header{
    background:  #34626c;
    color: white;
}

.edit-modal textarea{
    resize: none;
    width: 100%;
    max-height: 300px;
    padding: 5px;
}

.edit-modal .modal-body, .edit-modal .modal-footer{
    background: beige;
}

.edit-modal .modal-footer{
    border: 0;
}

.edit-modal button:focus{
    outline: none;
    box-shadow: none;
}