.review-form form{
    max-width: 800px;
    font-family: 'Nunito Sans';
    border: 4px solid #8f8f8f;
    border-radius: 11px;
    margin: 50px auto;
    padding: 20px;
}

.review-form textarea{
    display: block;
    padding: 5px;
    min-height: 100px;
    width: 100%;
    resize: none;
}

.review-form select{
    width: 7rem;
    font-family: 'Arial';
    font-size: 1.0rem;
    height: 1.3rem;
    position: relative;
    top: 2px;
}

.review-form label{
    font-weight: bold;
}

.review-form button{
    width: 50%;
    display: block;
    margin: auto;
}

.review-form button:focus{
    outline: none;
    box-shadow: none;
}