.review{
    display: grid;
    font-family: 'Nunito Sans';
    grid-template-columns: 200px auto;
    background: white;
    color: black;
    margin-bottom: 50px;
    padding: 30px;
}

.review img{
    width: 8rem;
    height: 8rem;
}

.review .user-section h4{
    margin-top: 50px;
} 

.review .user-section p{
    font-size: 1.3rem;
    margin-left: 30px;
} 

.review .user-section span{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.2rem;
    position: relative;
    margin-left: 10px;
    top: 20px;
}

.review main{
    font-size: 2rem;
}

.review .content{
    font-size: 1.3rem;
    display: inline-block;
    word-break: break-word;
}

.review .content span{
    margin-left: 2px;
    font-weight: bold;
    cursor: pointer;
    color: blue;
}

.review .content span:hover{
    text-decoration: underline;
}

.review #open-edit{
    display: none;
}

.review .likes-section{
    margin-top: 7rem;
} .review .likes-section i{
    cursor: pointer;
}.review .likes-section p{
    font-size: 2rem;
}

.review .fa-thumbs-up.active{
    color: #21af21;
} .review .fa-thumbs-up.active:hover{
    color: revert;
} .review .fa-thumbs-up:hover{
    color: #21af21;
}

.review .fa-thumbs-down.active{
    color: red;
} .review .fa-thumbs-down.active:hover{
    color: revert;
} .review .fa-thumbs-down:hover{
    color: red;
}