.background{
    height: 92vh;
    position: relative;
    overflow: auto;
    background-color: rgb(190, 203, 216);
}

.payment{
    color:blue;
    background-color: lightseagreen;
    border: 4px solid #5f5f9b;
    border-radius: 30px/20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 60px;
}


.payment .payment-form{
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    left: 110px;
}