.payment-bg{
    height: 92vh;
    position: relative;
    font-family: 'Chakra Petch', sans-serif;
    overflow: auto;
}

.payment{
    color:blue;
    background-color: #88b8c0;
    border: 4px solid #5f5f9b;
    border-radius: 30px/20px;
    max-width: fit-content;
    margin: 50px auto;
    padding: 40px;
}

.payment h1, .payment h2{
    color: black;
}