.change-pwd{
    position: relative;
    height: 92vh;
    font-family: 'Chakra Petch', sans-serif;
    background-color: #34626c;
    color: #0fe9ba;
    display: flex;
    align-items: center;
}

.change-pwd form{
    max-width: 600px;
    border: 8px solid #393e46;
    border-radius: 30px/20px;
    padding: 25px 80px;
}

.change-pwd input{
    font-family: 'Nunito Sans';
}

.change-pwd input, .change-pwd button{
    width: 100%;
    padding: 7px;
}

.change-pwd button{
    font-family: 'Goldman', cursive;
}

.change-pwd .errors{
    font-weight: bold;
    color: red;
}