.forgot-pwd{
    position: relative;
    height: 92vh;
    background-color: #34626c;
    color: #0fe9ba;
    font-family: 'Chakra Petch', sans-serif;
    display: flex;
    align-items: center;
}

.forgot-pwd form{
    max-width: 600px;
    border: 8px solid #393e46;
    border-radius: 30px/20px;
    padding: 25px 80px;
}

.forgot-pwd input {
    width: 100%;
    padding: 7px;
    font-family: 'Nunito Sans';
}

.forgot-pwd button{
    width: 100%;
    font-family: 'Goldman', cursive;
    font-size: 18px;
}