.login{
    position: relative;
    width: 100%;
    height: 92vh;
    background-color: #34626c;
    font-family: 'Nunito Sans';
    overflow: hidden;
}

.login form{    
    margin: 50px auto;
    max-width: 500px;
    color: #0fe9ba;
    padding: 2%;
    border: outset 5px #1a1c20;
    border-radius: 8px 20px;
}

.login h1{
    font-family: 'Concert One', cursive;
    margin-bottom: 40px;
    text-align: center;
    font-size: 3.6rem;
}

.login label, .login input{
    font-family: 'Nunito Sans';
    font-size: 17px;
}

.login input{
    display: block;
    width: 100%;
    border-radius: 11px;
    margin-bottom: 25px;
    padding: 9px;
}

.login input:focus{
    outline: none;
}

.login button{
    border-radius: 25px;
    width: 40%;
    font-family: 'Goldman', cursive;
    font-size: 20px;
}

.login button:focus{
    outline: none;
    box-shadow: none;
}

.login p{
    cursor: pointer;
}

.login p:hover{
    text-decoration: underline;
}

.login .errors{
    color: red;
    font-weight: bold;
}