.login form{    
    margin: 50px auto;
    max-width: 350px;
    color: #4ceb34;
}

.login h1{
    margin-bottom: 40px;
    text-align: center;
    font-size: 3rem;
}

.login input{
    display: block;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 25px;
    padding: 9px;
}

.login input:focus{
    outline: none;
}

.login button{
    border-radius: 25px;
    width: 40%;
}

.login button:focus{
    outline: none;
    box-shadow: none;
}

.login p{
    cursor: pointer;
}

.login p:hover{
    text-decoration: underline;
}

.login .errors{
    color: red;
    font-weight: bold;
}