.register{
   position: relative;
   width: 100%;
   height: 92vh;
   background-color: #34626c;
   font-family: 'Nunito Sans';
   overflow: auto;
}

.register form{  
    margin: 40px auto;  
    max-width: 400px;
    color: #0fe9ba;
}

.register h1{
    font-family: 'Chakra Petch', sans-serif;
    margin-bottom: 28px;
    text-align: center;
    font-size: 3rem;
}

.register input{
    display: block;
    width: 100%;
    border-radius: 11px;
    margin-bottom: 25px;
    padding: 6px;
}

.register input:focus{
    outline: none;
}

.register button:focus{
    outline: none;
    box-shadow: none;
}

.register p{
    cursor: pointer;
}

.register p:hover{
    text-decoration: underline;
}

.register .errors{
    color: red;
    font-weight: bold;
}