.register form{    
    margin: 50px auto;
    max-width: 350px;
    color: #4ceb34;
}

.register h1{
    margin-bottom: 40px;
    text-align: center;
    font-size: 3rem;
}

.register input{
    display: block;
    width: 100%;
    border-radius: 25px;
    font-family: 'Arial';
    margin-bottom: 25px;
    padding: 6px;
}

.register input:focus{
    outline: none;
}

.register button{
    border-radius: 25px;
    width: 40%;
}

.register button:focus{
    outline: none;
    box-shadow: none;
}

.register p{
    cursor: pointer;
}

.register p:hover{
    text-decoration: underline;
}

.register .errors{
    color: red;
    font-weight: bold;
}