.register{
   position: relative;
   width: 100%;
   height: 92vh;
   background-color: #34626c;
   font-family: 'Nunito Sans';
   overflow: auto;
}

.register form{  
    margin: 18px auto; 
    max-width: 500px;
    width: 95%;
    color: #0fe9ba;
    padding: 2%;
    border: outset 5px #1a1c20;
    border-radius: 8px 20px;
}

.register h1{
    font-family: 'Concert One', cursive;
    margin-bottom: 28px;
    text-align: center;
    font-size: 3.6rem;
}

.register label, .register input{
    font-family: 'Nunito Sans';
}

.register input{
    display: block;
    width: 100%;
    border-radius: 11px;
    margin-bottom: 25px;
    padding: 6px;
}

.register input:focus{
    outline: none;
}

.register button:focus{
    outline: none;
    box-shadow: none;
}

.register p{
    cursor: pointer;
}

.register p:hover{
    text-decoration: underline;
}

.register .errors{
    color: red;
    font-weight: bold;
}

.register button{
    border-radius: 25px;
    width: 40%;
    font-family: 'Goldman', cursive;
    font-size: 20px;
}

.register button:focus{
    outline: none;
    box-shadow: none;
}